@font-face {
	font-family: "Coffee Healing";
	src: url("../assets/fonts/CoffeeHealing-1GrKe.ttf");
	font-style: normal;
}

@font-face {
	font-family: "Coffee Healing";
	src: url("../assets/fonts/CoffeeHealingItalic-RpP6o.ttf");
	font-style: italic;
}

html {
	font-family: "Coffee Healing", 'Segoe UI', sans-serif;
	height: 100%;

	color: white;
	text-shadow: 0 2px 2px #000;
}

body {
	/* background-color: black; */
	background-image: url("../assets/images/e7jj6r.jpg") !important;
	background-size: cover;
	background-position: center center;

	display: flex;
	justify-content: center;

	height: 100%;
	font-size: 2em;
}

#heading-container {
	display: flex;
	justify-content: center;
}

#form-container {
	display: flex;
	flex-direction: column;
}

#input-container {
	background-color: #0004;
	border-radius: 20px;

	display: flex;
	flex-direction: column;

	padding: 20px;
}

label {
	margin: auto;
}

input[type="text"] {
	background-color: #0002;
	outline: none;
	border: none;
	border-radius: 10px;

	text-align: center;
	margin: 10px 0 10px 0;
}

input[type="text"]:focus {
	outline: 1px solid #fff8;
	/* box-shadow: inset 0 0 10px #0002; */
}

button {
	background-color: #0004;
	border: none;
	border-radius: 10px;

	margin: auto;
}

button:hover {
	background-color: #0004;
}

#radio-container {
	display: flex;
	max-width: 500px;
	margin: 0 auto;
}

input[type="radio"] {
	margin: 0 0 0 20px;
}

#message-container {
	font-style: italic;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;

	padding: 20px;
}

#greet-message span {
	font-size: 2em;

	transform: scale(0);
}

/* ANIMATIONS */

.scale-up {
	transform: scale(2);
	transition: transform 400ms ease-in;
}

.scale-down {
	transform: scale(0);
	transition: transform 200ms ease-out;
}

@media (min-width: 600px) {
	#input-container {
		flex-direction: row;
	}

	input {
		margin: 0 10px 0 10px;
	}

	button {
		padding: 5px 10px;
	}

	#greet-message span {
		transform: scale(0);
	}

	.scale-up {
		transform: scale(2);
		transition: transform 400ms ease-in;
	}

	.scale-down {
		transform: scale(0);
		transition: transform 200ms ease-out;
	}
}

/* OUTLINES */
/*
* {
	outline: 1px solid magenta;
}

#heading-container,
#input-container,
#message-container {
	outline: 1px solid cyan;
}