@font-face {
	font-family: "Coffee Healing";
	src: url("/assets/fonts/CoffeeHealing-1GrKe.ttf");
}

html {
	font-family: "Coffee Healing", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height: 100%;
}

body {
	background-color: grey;

	display: flex;
	justify-content: center;

	height: 100%;
	/* background-image: url(); */
}

/* HEADING */

#heading-container {
	display: flex;
	justify-content: center;
}

h1 {
	color: white;
}

#form-container {
	background-color: #0002;

	display: flex;
	flex-direction: column;

	padding: 20px;
}

label {
	color: white;

	margin: auto;
}

input {
	background-color: #0002;
	color: black;
	border: none;

	text-align: center;
}

button {
	background-color: #0004;
	color: white;
	border: none;

	margin: auto;
}

#message-container {
	color: white;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;

	padding: 20px;
}

@media (min-width: 480px) {
	/* … */
}

/* OUTLINES */

* {
	outline: 1px solid magenta;
}

#heading-container,
#form-container,
#message-container {
	outline: 1px solid cyan;
}